<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="form-group">
					<label class="control-label">Status</label>
					<div>
						<select class="form-control" ng-model="status">
							<option value="Vegetarian">Vegetarian</option>
							<option value="Non Vegetarian">Non Vegetarian</option>
							<!-- new -->
							<option value="Depends">Depends</option>
						</select>
					</div>
				</div>
				<div class="form-group" ng-show="status == 'Non Vegetarian'">
					<label class="control-label">Non Vegetarian, Contains</label>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="animalProduced"> Animal Produced
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="dairyProduct"> Dairy Product
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="animalByProduct"> Animal by Product
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="animal"> Animal
							</label>
						</div>
					</div>
				</div>

				<!-- new -->
				<div class="form-group" ng-show="status == 'Vegetarian'">
					<label class="control-label">Type</label>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="vegan"> Vegan
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="ovo"> Ovo
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="lacto"> Lacto
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="ovolacto"> Ovo and Lacto
							</label>
						</div>
					</div>
				</div>

				<!-- new -->
				<div class="form-group" ng-show="status == 'Depends'">
					<label class="control-label">From</label>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="synthetic"> Synthetic
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="animal"> Animal
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Justifications</label>
					<div>
						<ingredient-justification
							ng-repeat="item in justifications"
							justification="item"
							remove-justification="removeJustification(justification)"
						></ingredient-justification>
					</div>
					<div>
						<button class="btn btn-default" ng-click="addJustification($event)">Add Justification</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Safety Information</label>
					<div>
						<textarea
							rows="3"
							class="form-control"
							placeholder="Safety information"
							ng-model="safetyInformation"
						></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Links</label>
					<div>
						<textarea
							rows="3"
							class="form-control"
							placeholder="Links"
							ng-model="link"
						></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
