<div class="container-fluid">
	<div class="row">
		<!-- <div class="col-xs-12"> -->
		<h2 style="color: #1a3438">HalalBuddy<span style="font-size: 10px; color: #ffffff">&nbsp;admin</span></span></h2>
		<!-- </div> -->
	</div>
	<div class="row">
		<!-- <div class="col-xs-12"> -->
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation" ng-class="{active: current==='ingredients'}">
			  	<a href="#/ingredients">Ingredients</a>
			  </li>
			  <li role="presentation" ng-class="{active: current==='articles'}">
			  	<a href="#/articles">Articles</a>
			  </li>
			</ul>
		<!-- </div> -->
	</div>
</div>
